.about
    width 100%
    padding 0 70px
    margin-bottom 50px

.aboutHeader
    width 100%
    border-bottom 2px solid #000000
    margin-bottom 45px
    h1
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-weight normal
        font-style normal
        font-stretch normal
        line-height 36.0px
        letter-spacing normal
        color #242424

.aboutContent
    margin 0 10% 45px !important
    //lost-column 10/12 flex
    h3
        color #90908f
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 28px
        margin-bottom 35px
    p
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        margin-bottom 15px
        line-height 22px
.aboutPreferences
    box horizontal top
    margin-bottom 45px
.aboutPreference
    lost-column 1/3 3 flex
.aboutPreferenceHeader
    display inline-block
    color #242424
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase
    border-bottom 2px solid #242424
    margin-bottom 10px
.aboutPreferenceText
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 22px

.aboutCatalogBlock
    background-color #f5f5f5
    background-repeat no-repeat
    background-size cover
    height 500px
    margin-bottom 40px

.aboutCatalogBlockContent
    width 60%
    height 100%
    box vertical middle left
    margin-left 10%
.aboutCatalogBlockHeader
    display inline-block
    color #242424
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase
    border-bottom 2px solid #242424
    margin-bottom 31px
.aboutCatalogBlockText
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 24px
    margin-bottom 31px

.aboutCatalogs
    box horizontal top
    padding-left 40px
.aboutCatalog
    box vertical top center
    text-decoration none
    margin-right 91px
    img
        margin-bottom 20px
    span
        color #242424
        font-family "Open Sans"
        font-size 18px
        font-weight 400
        line-height 28px

.aboutBuy
    background-color #f5f5f5
    margin-bottom 40px
    padding 47px 60px 0px 110px
    margin-top 30px
.aboutBuyHeader
    display inline-block
    color #242424
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase
    border-bottom 2px solid #242424
    margin-bottom 31px
.aboutBuyItems
    box horizontal top
    flex-wrap wrap

.aboutBuyItem
    margin-right 50px
    margin-bottom 50px