.catalog
    width 100%
    padding 0 70px

.catalogGrid
    box vertical top

.catalogSection
    box vertical top
    margin-bottom 70px

.catalogSectionHeader
    width 100%
    border-bottom 2px solid #000000
    margin-bottom 20px
    h1
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-weight normal
        font-style normal
        font-stretch normal
        line-height 36.0px
        letter-spacing normal
        color #242424

.catalogSectionContent
    width 100%
    margin-bottom 50px

.catalogSectionFooter
    width 100%
    box horizontal middle center
    .buttonBlueMore
        margin-right 16px

.catalogRow
    lost-flex-container row
    height 308px
    position relative
.catalogDoubleRow
    lost-flex-container row
    height 616px
    position relative
.catalogCellTwo
    lost-column 2/12 2 0 flex
    position relative
    margin 0 !important

.catalogCellThird
    lost-column 1/3 3 0 flex
    position relative
    margin 0
    align-self stretch
    &:last-child
        margin-left 0 !important
.catalogCellSeventh
    lost-column 7/12 2 0 flex
    position relative
    margin 0 !important
.catalogCellSixth
    lost-column 1/2 2 0 flex
    position relative
    margin 0 !important
    &Vertical
        box vertical
.catalogCellFourth
    lost-column 5/12 2 0 flex
    position relative
    margin 0 !important
    &Vertical
        box vertical

.catalogCellFifth
    lost-column 5/12 2 0 flex
    position relative
    margin 0 !important
    &Vertical
        box vertical

