.pagination
    box vertical top left
    margin-bottom 69px
.paginationButton
    box horizontal middle left
    margin-bottom 28px

.paginationButtonPrev
    height 44px
    padding 0 22px
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 300
    line-height 44px
    text-decoration none
    transition all .4s
    box horizontal middle
    svg
        size 14px
        margin-right 25px
        fill #242424
        transition all .4s
    &:hover
        background-color #f5f5f5
        svg
            fill #777
.paginationButtonNext
    height 44px
    padding 0 22px
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 300
    line-height 44px
    text-decoration none
    transition all .4s
    box horizontal middle
    svg
        fill #242424
        size 14px
        margin-left 25px
        transition all .4s
    &:hover
        background-color #f5f5f5
        svg
            fill #777
.paginationItem
    box horizontal middle left
    &Active
        background-color #44c8f5
        color #fff !important

    a
        size 30px
        box vertical middle center
        text-decoration none
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 300
        line-height 16px
        margin-right 5px
        &:hover
            background-color #f5f5f5
