.catalogTextBlock
    box horizontal middle
    text-decoration none
    margin-bottom 25px
.catalogTextBlockImage
    display block
    size 115px
    margin-right 5px
    img
        size 115px
.catalogTextBlockText
    flex 1 1 auto
    align-self stretch
    background-color #c2db71
    padding 35px 65px 10px 65px
    h3
        color #fff
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 300
        line-height 28px
    p
        color #fff
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 200
        line-height 22px