.collection
    width 100%
    padding 0 70px
    +below(768px)
        padding 0 20px
.collectionGrid
    box vertical top

.collectionSection
    box vertical top
    margin-bottom 70px

.collectionSectionHeader
    width 100%
    border-bottom 2px solid #000000
    margin-bottom 20px
    h1
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-weight normal
        font-style normal
        font-stretch normal
        line-height 36.0px
        letter-spacing normal
        color #242424

.collectionSectionContent
    width 100%
    margin-bottom 50px

.collectionSectionFooter
    width 100%
    box horizontal middle center
    .buttonBlueMore
        margin-right 16px

.collectionSubscripe
    margin-bottom 50px

.collectionRow
    lost-flex-container row
    height 308px
    position relative
    +below(960px)
        height auto
.collectionBigRow
    lost-flex-container row
    height 473px
    position relative
    +below(960px)
        height auto

.collectionDoubleRow
    lost-flex-container row
    height 616px
    position relative

.collectionCellTwo
    lost-column 2/12 2 0 flex
    position relative
    margin 0 !important
    +below(960px)
        lost-column 1/1 1 0 flex
.collectionCellThird
    lost-column 1/3 3 0 flex
    position relative
    margin 0
    align-self stretch
    &:last-child
        margin-left 0 !important
    +below(960px)
        lost-column 1/1 1 0 flex
.collectionCellSeventh
    lost-column 7/12 2 0 flex
    position relative
    margin 0 !important
    +below(960px)
        lost-column 1/1 1 0 flex
.collectionCellSixth
    lost-column 1/2 2 0 flex
    position relative
    margin 0 !important
    &Vertical
        box vertical
    +below(960px)
        lost-column 1/1 1 0 flex
.collectionCellFourth
    lost-column 5/12 2 0 flex
    position relative
    margin 0 !important
    +below(960px)
        lost-column 1/1 1 0 flex
    &Vertical
        box vertical

.collectionCellFifth
    lost-column 5/12 2 0 flex
    position relative
    margin 0 !important
    +below(960px)
        lost-column 1/1 1 0 flex
    &Vertical
        box vertical

