.contact
    width 100%
    padding 0 70px
    margin-bottom 50px
    clear fix
.contactHeader
    width 100%
    border-bottom 2px solid #000000
    margin-bottom 45px
    h1
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-weight normal
        font-style normal
        font-stretch normal
        line-height 36.0px
        letter-spacing normal
        color #242424

.contactContent
    lost-column 10/12 1
    lost-offset 1/12
    margin-bottom 60px

.contactPhone
    lost-column 5/12
    a
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 30px
        font-weight 600
        line-height 36px
        text-decoration none
    &Title
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 24px

.contactText
    lost-column 7/12
    p
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 24px

.contactForm
    padding 63px calc(99.9% * 1/12 - (30px - 30px * 1/12) + (30px * 2)) 15px
    background-color #f5f5f5

.contactFormHeader
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 30px
    font-weight 600
    line-height 36px
    margin-bottom 48px

.contactFormColumns
    box horizontal middle
    flex-wrap wrap

.contactFormColumn
    lost-column 1/2 2 55px flex

.contactFormItem
    margin-bottom 48px