.modal#modal_login
    .modalClose
        +svgIcon('icon-close')
    .modalHeader
        h2
            | Вход
            a(href='#') Регистрация
    form.modalForm
        .modalFormItem
            .uiTextInputGroup
                input(type="text" placeholder="Логин или номер телефона")
                label Логин или номер
        .modalFormItem
            .uiTextInputGroup
                input(type="text" placeholder="Код подтверждения")
                label Код подтверждения
        .modalFormItem
            .modalLoginSocial
                a(href="#")
                    +svgIcon('icon-vk')
                a(href="#")
                    +svgIcon('icon-fb')

        .modalFormSubmit
            button.buttonBlueMedium Войти
            a(href="#").buttonSimpleText Восстановить доступ