.modal#modal_oneclick
    .modalClose
        +svgIcon('icon-close')
    .modalHeader
        h2 Купить в один клик
    form.modalForm
        .modalFormItem
            .uiTextInputGroup
                input(type="text" placeholder="+7 259 999 55 55")
                label Телефон
        .modalFormItem
            .uiTextInputGroup
                input(type="text" placeholder="Людмила Иванова")
                label Имя
        .modalFormItem
                .uiTextInputGroup
                    input(type="text" placeholder="mail@mail.ru")
                    label E-MAIL

        .modalFormSubmit
            button.buttonBlueMedium купить

