.modal#modal_subscribe
    .modalClose
        +svgIcon('icon-close')
    .modalHeader
        h2 Подписывайтесь на нашу рассылку
        p Следите за обновлениями, новинками и акциями от ЛибреДерм
    form.modalForm
        .modalFormRow
            .modalFormItemHalf
                .uiTextInputGroup
                    input(type="text" placeholder="Людмила Иванова")
                    label Имя
            .modalFormItemHalf
                .uiTextInputGroup
                    input(type="text" placeholder="mail@mail.ru")
                    label E-MAIL
        .modalFormSubmit
            button.buttonBlueMedium Подписаться

