.breadcrumbs
    display block
    box horizontal middle
    width 100%
    padding 0 70px
    margin-bottom 6px
    a
        height 32px
        color #6d6e71
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 300
        line-height 32px
        background-color #f5f5f5
        padding 0 27px
        margin-right 5px
        text-decoration none