.productInstagramm
    display block
    margin-bottom 45px
.productInstagrammHeader
    width 100%
    border-bottom 2px solid #000000
    margin-bottom 35px
    h2
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-weight normal
        font-style normal
        font-stretch normal
        line-height 36.0px
        letter-spacing normal
        color #242424
        text-transform uppercase
.productInstagrammContent
    display block
    height 300px

.productBlock
    display block
    margin-bottom 45px
.productBlockHeader
    width 100%
    border-bottom 2px solid #000000
    margin-bottom 35px
    h2
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-weight normal
        font-style normal
        font-stretch normal
        line-height 36.0px
        letter-spacing normal
        color #242424
        text-transform uppercase
.productBlockContent
    margin-bottom 25px