.productTop
    box horizontal top space-between
    width 100%
    margin-bottom 36px
.productStarReview
    box vertical top left
.productStars
    box horizontal middle left
    margin-bottom 10px
.productStar
    margin-right 10px
    svg
        size 17px
        fill #44c7f4
        stroke #44c7f4
        stroke-width 2px
        transition all .2s
    &Empty
        svg
            fill none
            stroke #000
            stroke-width 2px
    &:hover
        svg
            fill #44c7f4
            stroke #44c7f4
            stroke-width 2px
.productStarReviewText
    color #242424
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase

.productCurrentView
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 22px