.cart
    width 100%
    padding 0 70px
    margin-bottom 50px

.cartHeader
    width 100%
    border-bottom 2px solid #000000
    margin-bottom 45px
    box horizontal middle space-between
    h1
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-weight normal
        font-style normal
        font-stretch normal
        line-height 36.0px
        letter-spacing normal
        color #242424
        text-transform uppercase
    a
        color #44c8f5
        font-family "Open Sans"
        font-size 14px
        font-weight 300
        line-height 22px
        text-decoration none
.cartContent
    h2
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 30px
        font-weight 600
        line-height 36px
        margin-bottom 20px
    p
        font-family "Open Sans"
        font-size 16px
        line-height 24px
        color #242424
        font-weight 400
        span
            color #44c8f5
.cartTable
    margin-bottom 30px
    table
        width 100%
        tr
            transition all .4s
            &:hover
                background-color #f5f5f5
        td
            vertical-align middle
            padding 21px 0
.cartTableImage
    min-width 80px
    margin-right 50px
    text-align center
    vertical-align middle

    img
        max-width 80px
        max-height 80px

.cartTableName
    color #242424
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase

.cartTableQty
    box horizontal middle
    height 24px
.cartTableQtyMinus
    size 20px
    border-radius 50%
    border 1px solid #000
    box vertical middle center
    svg
        size 12px

.cartTableQtyText
    color #242424
    font-family "Open Sans"
    font-size 24px
    font-weight 400
    line-height 24px
    width 40px
    text-align center

.cartTableQtyPlus
    size 20px
    border-radius 50%
    border 1px solid #000
    box vertical middle center
    margin-right 7px
    svg
        size 10px
.cartTablePriceCell
    text-align center
.cartTablePrice
    box horizontal middle center
    &Sale, &Value
        position relative
        color #000
        font-size 24px
        line-height 20px
        font-family 'graphik', Arial, Helvetica, sans-serif
        padding 0 20px
    &Sale
        margin-right 36px
        color #90908f
        &:after
            position absolute
            content ''
            size 100% 2px
            background-color #90908f
            top calc(50% + 1px)
            left 0
.cartTablePriceTotal
    color #000
    font-size 24px
    line-height 20px
    font-family 'graphik', Arial, Helvetica, sans-serif
    padding 0 20px
.buttonDelete
    size 37px
    background-color #f5f5f5
    box vertical middle center
    border 0
    outline 0
    cursor pointer
    svg
        size 13px

.cartPromo
    box horizontal middle
    margin-bottom 30px
    &Text
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 600
        line-height 28px
        margin-right 30px
        padding-bottom 5px

.cartTotals
    box horizontal middle left
    margin-bottom 58px
.cartTotalDelivery
    lost-column 5/12 2 flex
    background-color #f5f5f5
    padding 34px 76px
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-weight 400
    line-height 24px
    span
        margin-left 5px
        color #44c8f5
    a
        display block
        padding-top 7px
        color #44c8f5
        text-decoration none
.cartTotal
    lost-column 6/12 0 flex
    margin-left calc(99.9% * 1/12 - (30px - 30px * 1/12) + (30px * 2)) !important;
    margin-right 0 !important
.cartTotalTable
    width 100%
    td
        vertical-align middle
        padding-bottom 10px

.cartTotalTableSumText
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 24px
    b
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 600
        line-height 28px

.cartTotalTableSumValue
    color #242424
    font-family "Open Sans"
    font-weight 400
    line-height 24px
    span
        margin-left 20px
        color #242424

.cartOrder
    margin-bottom 41px

.cartNotes
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 22px
    span
        display block
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 20px
        text-transform uppercase