 .cartOrderTop
    background-color #f5f5f5
    padding 10px 24px
    box horizontal middle space-between
    margin-bottom 40px
.cartOrderItems
    box horizontal middle

.cartOrderItem
    position relative
    box vertical middle center
    size 80px
    background-color #fff
    border-radius 50%
    margin-right 5px
    img
        max-width 50px
        max-height 50px

.cartOrderItemBadge
    position absolute
    size 20px
    border-radius 50%
    background-color #dbdbdb
    box vertical middle center
    bottom 0
    left 0
    span
        color #fff
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 36px
        text-transform uppercase

.cartOrderItemTotal
    padding-left 20px
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 600
    line-height 28px

.cartOrderTotal
    box horizontal middle

.cartOrderTotalText
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 600
    line-height 28px
    margin-right 80px
.cartOrderTotalPrice
    color #242424
    font-family "Open Sans"
    font-size 18px
    font-weight 300
    line-height 28px
    span
        margin-left 20px