.cartOrderFormBigItem
    box horizontal top
    margin-bottom 60px
    &Label
        line-height 41px
        width 200px
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
    &Select
        box vertical top
        select
            margin-bottom 10px
        span
            color #90908f
            font-family 'graphik', Arial, Helvetica, sans-serif
            font-size 14px
            font-weight 300
            line-height 22px
    &Delivery
        box horizontal

.cartOrderIconItem
    box vertical top center
    margin-right 60px
    border 3px solid transparent
    width 130px
    transition all .3s
    padding 10px 0
    &:last-child
        margin-right 0
    &Icon
        margin-bottom 11px
        svg
            size 40px
    &Text
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-weight 300
        line-height 22px
        color #231f20
        font-size 14px
        text-align center
        transition all .3s
    &:hover, &Active
        border 3px solid #44c8f5
        .cartOrderIconItemText
            color #44c8f5


.cartOrderFormSubheader
    margin-bottom 45px
    h2
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 23px
        text-transform uppercase
        margin-bottom 10px
    p
        font-family "Open Sans"
        font-size 16px
        font-weight 400
        line-height 24px
        color #242424
        a
            color #44c8f5
            text-decoration none

.cartOrderFormItem
    margin-bottom 40px
    max-width 630px


.cartOrderFormTotalItem
    box horizontal middle
    margin-bottom 20px
    &Text
        lost-column 2/12
        color #242424
        font-family "Open Sans"
        font-size 18px
        font-weight 600
        line-height 28px
    &Price
        font-family "Open Sans"
        font-size 18px
        font-weight 300
        line-height 28px
        span
            margin-left 14px