.socialSection
    display block
    padding 61px 10%
    background-color #f3f2f3
    margin-bottom 80px

.socialSectionHeader
    width 100%
    border-bottom 2px solid #000000
    padding-bottom 5px
    margin-bottom 8px
    h3
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-weight normal
        font-style normal
        font-stretch normal
        line-height 36.0px
        letter-spacing normal
        color #242424
        text-transform uppercase

.socialSectionSlogan
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 200
    line-height 28px
    margin-bottom 40px

.socialSectionItems
    box horizontal middle

.socialSectionItem
    box horizontal middle
    margin-right 40px
    text-decoration none
    &:last-child
        margin-right 0

.socialSectionIcon
    display block
    size 40px
    box vertical middle center
    margin-right 16px
    svg
        size 20px
        fill #fff
    &VK
        background-color #4973a7
    &OK
        background-color #f18100
    &YT
        background-color #f20000
    &IG
        background-color #ab2a93
    &FB
        background-color #3855a0

.socialSectionText
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 300
    line-height 28px