.headerCarts
    box horizontal middle
.headerCart
    box horizontal middle
.headerWishListIcon
    display inline-block
    margin-right 30px
    position relative
    .headerWishListCount
        position absolute
        top -5px
        right -10px
        color #44c8f5
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 12px
        font-weight 700
        text-transform uppercase
    svg
        fill #000
        size 20px
        overflow visible
        transition: all .5s easeOutBack
        #hover
            fill #44c8f5 !important
            transform: scale(0);
            transform-origin: center;
            transition: all .5s easeOutBack
        &:hover
            fill #44c8f5
            #hover
                transform: scale(1);


.headerCartIcon
    display inline-block
    margin-right 30px
    position relative
    .headerCartCount
        position absolute
        top -5px
        right -10px
        color #44c8f5
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 12px
        font-weight 700
        text-transform uppercase
    svg
        fill #000
        size 22px
        overflow visible
        transition: all .5s easeOutBack
        #hover
            fill #44c8f5
            transform: scale(0);
            transform-origin: center;
            transition: all .5s easeOutBack
        &:hover
            fill #44c8f5
            #hover
                transform: scale(1);

.headerCartTotal
    flex 0 1 auto
    margin-top -3px
    color #878786
    font-size 12px
    line-height 12px
    font-family 'Open Sans', Arial, Helvetica, sans-serif
    font-weight 400
    white-space nowrap
    span
        display block
