.headerMenu
    flex 1 1 auto
    box horizontal middle


.headerMenuItem
    box vertical middle
    position relative
    height 32px
    +below(1300px)
        &:not(:first-child)
            display none
    a
        align-self stretch
        position relative
        padding 0 28px
        color #000
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        text-transform uppercase
        text-decoration none
        white-space nowrap
    &Active
        background-color #f0f0f2

    &All
        &:hover
            background-color #f0f0f2
        a
            padding 0 15px
            box horizontal middle
            svg
                margin-left 20px
                size 16px
                fill #000
                transform rotate(90deg)
                transition all .3s
    &AllIsOpen
        background-color #f0f0f2
        a
            svg
                transform rotate(-90deg)
.headerMenuBottom
    flex 1 1 auto
    box horizontal middle left


.headerMenuBottomItem
    box vertical middle
    height 30px
    a
        align-self stretch
        padding 0 15px
        color #000
        color #878786
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        line-height 14px
        font-weight 400
        text-decoration none
        white-space nowrap
    &:hover
        a
            text-decoration underline
    &Active
        a
            color #44c8f5
            text-decoration underline

