.mobileHeader
    display none !important
    size 100% 64px
    background-color #fff
    box-shadow 0 10px 20px rgba(1, 39, 54, 0.1)
    margin-bottom 45px
    box horizontal middle space-between

    +below(1060px)
        display flex !important

.mobileHeaderLeft
    box horizontal middle space-around
    flex 1 1 50%
    padding 0 20px
.mobileHeaderMiddle
    box vertical middle center
.mobileHeaderRight
    flex 1 1 50%
    box horizontal middle space-around
    padding 0 20px
.mobileHeaderSearch
    svg
        size 18px
.mobileHeaderLogo
    svg
        size 43px

.mobileHeaderMenu
    color #242424
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 23px
    text-transform uppercase
    position relative
    padding-bottom 3px
    &:after
        display block
        position absolute
        content ''
        left 0
        bottom 0
        size 100% 2px
        background-color #242424
