extends _layout

block content
    .about
        .aboutHeader
            h1 О КОМПАНИИ
        .aboutContent
            h3 В настоящее время российская косметика Либридерм («Librederm») – заполонила аптечные сети своей продукцией, обещающей за довольно небольшие деньги  (по сравнению с аналогичной продукцией мировых брендов) – добиться увлажненной, сияющей, молодой кожи.
            p Нужно отметить, что мощная рекламная кампания, проводимая производителем Либридерм, а также красивый профессиональный вид упаковки средств – делает свое дело. Благодаря качественной агрессивной рекламе косметика Librederm стала безусловным лидером в категории «Лечебная косметика» в первом полугодии 2015 года по результатам продаж среди всей косметики, продаваемой в аптечных сетях.
            p Косметика Либридерм – отзывы отмечают это, выглядит очень презентабельно: тюбики с кремами снабжены удобными дозаторами, строгая цветовая гамма вызывает уважение, коробочки с продукцией имеют качественную полиграфию, внутри подробная инструкция. Это не может не подкупать потребителя и не может не внушать доверие к продукту. Маркетологи выполнили работу на 5 баллов.
        .aboutSlider.swiper-container
            .swiper-wrapper
                .aboutSlide.swiper-slide
        .aboutPreferences
            .aboutPreference
                .aboutPreferenceHeader
                    | Качество
                .aboutPreferenceText
                    | Космецевтика, объединившая в себе лучшие достижения и разработки косметологии и фармакологии.
            .aboutPreference
                .aboutPreferenceHeader
                    | Качество
                .aboutPreferenceText
                    | Космецевтика, объединившая в себе лучшие достижения и разработки косметологии и фармакологии.
            .aboutPreference
                .aboutPreferenceHeader
                    | Качество
                .aboutPreferenceText
                    | Космецевтика, объединившая в себе лучшие достижения и разработки косметологии и фармакологии.

        .aboutCatalogBlock(style="background-image: url('img/catalog-1.png.jpg')")
            .aboutCatalogBlockContent
                .aboutCatalogBlockHeader
                    | Добро пожаловать в электронный каталог Либридерм

                .aboutCatalogBlockText
                    | Мы соединили многовековой опыт косметической отрасли разных стран и передовые технологии, чтобы подарить коже заслуженную и самую нежную заботу. Оцените великолепное качество наших продуктов и их уникальные формулы! В удобном формате для просмотра!
                .aboutCatalogBlockControl
                    a(href="#").buttonBlueMedium Электронный каталог
        .aboutCatalogs
            a(href="#").aboutCatalog
                img(src="img/catalog.png")
                span 2015 год
            a(href="#").aboutCatalog
                img(src="img/catalog.png")
                span 2014 год

