.blog
    width 100%
    padding 0 70px
    margin-bottom 50px

.blogHeader
    width 100%
    border-bottom 2px solid #000000
    margin-bottom 45px
    h1
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-weight normal
        font-style normal
        font-stretch normal
        line-height 36.0px
        letter-spacing normal
        color #242424
