.cardText
    display block
    position relative
    size 100%
    padding 65px 80px 65px
    box vertical top left
    background-color #f3f2f3

.cardTextHeader
    flex 0 1 auto
    width 100%
    margin-bottom 20px
    position relative

    span
        display inline-block
        position relative
        font-family 'decima', Arial, Helvetica, sans-serif
        color #242424
        font-size 24px
        font-weight 400
        line-height 30px
        padding-bottom 10px
        text-transform uppercase
    &:after
        content ''
        position absolute
        size 100% 2px
        background #242424
        left 0
        bottom -3px
.cardTextContent
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 200
    line-height 28px
