.cardCollection
    display block
    position relative
    size 100%
    padding 0 20px 0 40px
    transition all .4s easeOutBack
    text-decoration none
    color #000
    +below(1310px)
        height auto
        padding 20px 0
    &:hover
        z-index 100
        box-shadow 0 2px 21px rgba(35, 64, 77, 0.48)
    &Yellow
        background-color #f7d15e
    &White
        background-color #fff
    &Grey
        background-color #f0f0f2
    &Blue
        background-color #44c8f5
    &LightGrey
        background-color #f5f5f5
    &Big
        .cardCollectionLeft
            padding-top 128px
            box vertical top left
            +below(768px)
                padding-top 45px
        .cardCollectionDescription
            flex 0 1 auto
.cardCollectionLabel
    display block
    position absolute
    top 19px
    right 22px
    color #242424
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase
.cardCollectionContent
    box horizontal middle
    flex-wrap wrap
    size 100%
    +below(1310px)
        box vertical top
.cardCollectionLeft
    lost-column 1/2 2 30px flex
    align-self stretch
    padding 45px 0
    box vertical top space-between
    +below(1310px)
        order 2
        box vertical top space-between
        width 100%
        padding 0 20px
.cardCollectionRight
    lost-column 1/2 2 30px flex
    align-self stretch
    +below(1310px)
        width 100%
        margin-bottom 20px
.cardCollectionImage
    size 100%
    box vertical middle center
    +below(1310px)
        box vertical middle center
.cardCollectionHeader
    flex 0 1 auto
    margin-bottom 20px
    span
        display inline-block
        position relative
        font-family 'decima', Arial, Helvetica, sans-serif
        color #242424
        font-size 16px
        font-weight 400
        line-height 20px
        text-transform uppercase
        &:after
            content ''
            position absolute
            size 100% 2px
            background #242424
            left 0
            bottom -3px
.cardCollectionDescription
    flex 1 1 auto
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 200
    line-height 22px
    margin-bottom 20px
.cardCollectionControl
    flex 0 1 auto
    z-index 1000
