.cardProduct
    box horizontal middle
    background-color #f3f2f3
    padding 0 48px 0 27px
    text-decoration none
    transition all .4s easeOutBack
    position relative
    size 100%
    +below(960px)
        box vertical top
        padding 20px 0
        height auto
    &:hover
        z-index 100
        box-shadow 0 2px 21px rgba(35, 64, 77, 0.48)
    &Yellow
        background-color #f7d15e
    &White
        background-color #fff
    &Grey
        background-color #f0f0f2
    &LightYellow
        background-color #fff59b
    &Blue
        background-color #44c8f5
.cardProductVertical
    box vertical top center
    padding 55px 48px 55px 27px
    .cardProductContent
        padding 40px 10%
        width 100%

.cardProductLabel
    display block
    position absolute
    top 19px
    right 22px
    color #242424
    font-family "Decima Mono X"
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase
.productSelect
    display block
    position absolute
    top 19px
    right 22px
.cardProductImage
    box vertical middle center
    margin-right 33px
    lost-column 1/3 flex
    +below(960px)
        margin-bottom 30px
.cardProductContent
    lost-column 2/3 flex
    padding 80px 0
    +below(960px)
        padding 0 20px
        width 100%
.cardProductContentWrap
    box vertical top flex-start
.cardProductHeaderWrap
    box horizontal middle
.cardProductHeader
    position relative
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase
    color #242424
    margin-bottom 26px
    &:after
        position absolute
        content ''
        size 100% 2px
        background-color #000
        left 0
        bottom -4px
.cardProductHeaderNew
    position relative
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 400
    line-height 23px
    text-transform uppercase
    color #242424
    margin-bottom 26px
    &:before
        position absolute
        content ''
        size 100% 2px
        background-color #000
        left 0
        top -4px
    &:after
        position absolute
        content ''
        size 100% 2px
        background-color #000
        left 0
        bottom -4px
.cardProductDescription
    flex 0 1 auto
    width 100%
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 200
    line-height 24px
    color #90908f
    margin-bottom 20px
.cardProductColorsSlider
    box horizontal middle left
    margin -10px 0 0
    padding-bottom 10px
.cardProductColors
    position relative
    //margin-top -10px
    margin 0
    width 190px
    .swiper-slide
        width 26px
.cardProductColor
    display block
    size 26px
    border-radius 50%
.cardProductColorsNext
    display block
    size 20px
    margin-left 10px
    box vertical middle center
    svg
        size 14px
        transform rotate(180deg)
        transition all .4s
    &:hover
        svg
            stroke #000
.cardProductRow
    box horizontal middle left
.cardProductPrice
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 300
    line-height 28px
    margin-right 67px
    color #242424
.cardProductCart
    margin-right 28px
    box vertical middle center
    svg
        size 24px
.cardProductWhish
    box vertical middle center
    svg
        size 24px
        fill #44c8f5
        overflow visible
        transition: all .5s easeOutBack
        #hover
            fill #44c8f5
            transform: scale(0);
            transform-origin: center;
            transition: all .5s easeOutBack