.cardSale
    position relative
    box horizontal top
    background-color #f3f2f3
    padding 0 48px 0 27px
    text-decoration none
    transition all .4s easeOutBack
    size 100%
    &:hover
        z-index 100
        box-shadow 0 2px 21px rgba(35, 64, 77, 0.48)
    &Yellow
        background-color #f7d15e
    &White
        background-color #fff
        .cardSaleHeaderText
            color #242424
            &:after, &:before
                background-color #242424
         .cardSaleHeaderValue
            color #242424
        .cardSaleDescription
            color #90908f
    &YellowBlack
        background-color #f7d15e
        .cardSaleHeaderText
            color #242424
            &:after, &:before
                background-color #242424
        .cardSaleHeaderValue
            color #242424
        .cardSaleDescription
            color #90908f
    &LightGrey
        background-color #f3f2f3
        .cardSaleHeaderText
            color #242424
            &:after, &:before
                background-color #242424
         .cardSaleHeaderValue
            color #242424
        .cardSaleDescription
            color #90908f
    &Grey
        background-color #f0f0f2
        .cardSaleHeaderText
            color #242424
            &:after, &:before
                background-color #242424
         .cardSaleHeaderValue
            color #242424
        .cardSaleDescription
            color #90908f
    &LightYellow
        background-color #fff59b
    &Blue
        background-color #44c8f5
    &LightGreen
        background-color #72d7a1
    &Big
        .cardSaleContent
            padding-top 128px
.cardSaleImage
    box vertical middle center
    margin-right 33px
    height 100%
    lost-column 1/3 flex

.cardSaleContent
    lost-column 2/3 flex
    padding 44px 0

    // width auto
.cardSaleContentWrap
    box vertical top flex-start
.cardSaleHeader
    box horizontal middle
    margin-bottom 26px
.cardSaleHeaderText
    position relative
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 400
    line-height 23px
    text-transform uppercase
    color #fff
    margin-right 36px
    &:after
        position absolute
        content ''
        size 100% 2px
        background-color #fff
        left 0
        bottom -4px
    &:before
        position absolute
        content ''
        size 100% 2px
        background-color #fff
        left 0
        top -4px
.cardSaleHeaderValue
    color #fff
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 48px
    font-weight 300

.cardSaleDescription
    flex 0 1 auto
    width 100%
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 200
    line-height 28px
    color #f5f5f5
    margin-bottom 20px
.cardSaleColorsSlider
    box horizontal middle left
    margin -10px 0 0
    padding-bottom 10px
.cardSaleColors
    position relative
    //margin-top -10px
    margin 0
    width 190px
    .swiper-slide
        width 26px
.cardSaleColor
    display block
    size 26px
    border-radius 50%
.cardSaleColorsNext
    display block
    size 26px
    margin-left 10px
    // position absolute
    // right -10px
    // top 50%
.cardSaleRow
    box horizontal middle left
.cardSalePrice
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 300
    line-height 28px
    margin-right 67px
.cardSaleCart
    margin-right 28px
    box vertical middle center
    svg
        size 24px
.cardSaleWhish
    box vertical middle center
    svg
        size 24px
        fill #44c8f5
        overflow visible
        transition: all .5s easeOutBack
        #hover
            fill #44c8f5
            transform: scale(0);
            transform-origin: center;
            transition: all .5s easeOutBack