.main
    width 100%
    padding 0 70px
    +below(768px)
        padding 0
.mainGrid
    box vertical top

.mainSection
    box vertical top
    margin-bottom 70px

.mainSectionHeader
    width 100%
    border-bottom 2px solid #000000
    margin-bottom 35px
    h2
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-weight normal
        font-style normal
        font-stretch normal
        line-height 36.0px
        letter-spacing normal
        color #242424
        text-transform uppercase

.mainSectionContent
    width 100%
    margin-bottom 50px

.mainSectionFooter
    width 100%
    box horizontal middle center
    .buttonBlueMore
        margin-right 16px

.mainRow
    lost-flex-container row
    height 308px
    position relative
    +below(1310px)
        height auto
.mainDoubleRow
    lost-flex-container row
    height 616px
    position relative
    +below(1310px)
        height auto
.mainCellTwo
    lost-column 2/12 2 0 flex
    position relative
    margin 0 !important
    +below(960px)
        lost-column 1/1 1 0 flex

.mainCellThird
    lost-column 1/3 3 0 flex
    position relative
    margin 0
    align-self stretch
    &:last-child
        margin-left 0 !important
    +below(960px)
        lost-column 1/1 1 0 flex
.mainCellSeventh
    lost-column 7/12 2 0 flex
    position relative
    margin 0 !important
    +below(960px)
        lost-column 1/1 1 0 flex
.mainCellFifth
    lost-column 5/12 2 0 flex
    position relative
    margin 0 !important
    &Vertical
        box vertical
    +below(960px)
        lost-column 1/1 1 0 flex

