.cabinetBonusBlock
    display block
    position relative
    background-color #f5f5f5
    padding 44px 94px
    margin-bottom 15px
.cabinetBonusBlockHeader
    h2
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 600
        line-height 28px
        margin-bottom 17px
        text-transform uppercase
.cabinetBonusBlockContent
    p
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 24px
        margin-bottom 30px
.cabinetBonusTotal
    background-color #44c8f5
    padding 25px 94px
    margin-bottom 25px
.cabinetBonusTotalContent
    box horizontal middle left
    color #fff
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 24px
    svg
        margin-left 8px
        size 16px
        fill #fff
.cabinetBonusHistory
    box horizontal
    flex-wrap wrap

.cabinetBonusHistoryItem
    lost-column 1/3 3 100px flex
    box horizontal middle left
    margin-bottom 38px
    &Order
        color #242424
        font-family "Open Sans"
        font-size 16px
        font-weight 400
        line-height 24px
        width 230px
    &Count
        color #44c8f5
        font-family "Open Sans"
        font-size 16px
        font-weight 400
        line-height 24px
        width 50px
        white-space nowrap
        box horizontal middle
        svg
            margin-left 8px
            size 16px
            fill #49c9f4