.cabinetHistoryFilter
    box horizontal middle
    margin-bottom 26px
    a
        margin-right 7px
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 40px
        text-transform uppercase
        height 40px
        border 1px solid #f0f0f2
        padding 0 22px
        text-decoration none

.cabinetHistroryItems
    box vertical top

.cabinetHistroryItem
    display block
    position relative
    background-color #f5f5f5
    padding 44px 94px
    &:nth-child(even)
        background-color #fff
.cabinetHistroryItemStatus
    display block
    position absolute
    right 0
    top 30px
    color #FFF
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 36px
    height 36px
    padding 0 40px
    text-decoration none
    &Black
        background-color #000
    &Grey
        background-color #90908f
.cabinetHistroryItemHeader
    box horizontal middle left
    margin-bottom 19px
    h3
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 23px
        text-transform uppercase
        margin-right 19px
    span
        svg
            size 16px
.cabinetHistroryItemTable
    table
        width 100%
        td
            color #242424
            font-size 16px
            font-family 'graphik', Arial, Helvetica, sans-serif
            font-weight 400
            line-height 34px
            &:first-child
                color #90908f