.cabinetSidebarAvatar
    text-align center
    margin-bottom 25px
    svg
        size 90px
.cabinetSidebarName
    color #242424
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase
    margin-bottom 15px
 .cabinetSidebarMenu
    box vertical top left

.cabinetSidebarMenuItem
    box horizontal middle left
    text-decoration none
    position relative
    width 100%
    &:after
        display block
        position absolute
        size 90% 100%
        content ''
        left -10px
        top 0
        background-color #f0f0f2
        opacity 0
        z-index -1
        transition all .2s
    &:hover
        color #000
        &:after
            opacity 1
.cabinetSidebarMenuItemSpacer
    min-height 34px
.cabinetSidebarMenuItemIcon
    margin-right 14px
    svg
        size 16px
    .icon-bonus
        fill #49c9f4
.cabinetSidebarMenuItemText
    color #90908f
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 34px