.buttonBlueSmall
    display block
    position relative
    border 0
    outline 0
    color #fff
    font-family "graphik", Arial, Helvetica, sans-serif
    font-size 12px
    font-weight 400
    line-height 24px
    padding 1px 15px 0
    text-transform uppercase
    height 24px
    background-color #44c8f5
    white-space nowrap
    &:hover
        color #fff
        background-color #87dbff


.buttonBlue
    display inline-block
    cursor pointer
    overflow hidden
    user-select none
    -webkit-tap-highlight-color transparent
    position relative
    border 0
    outline 0
    color #242424
    background-color #44c8f5
    font-family "graphik", Arial, Helvetica, sans-serif
    text-decoration none
    font-size 14px
    font-weight 300
    line-height 41px
    min-height 41px
    padding 1px 31px 0
    text-transform uppercase
    height 41px
    transition all .4s
    white-space nowrap
    &:hover
        color #fff
        background-color #87dbff
    .waves-ripple
        background rgba(#44c8f5, 1)

.buttonTextWhite
    color #fff

.buttonBlueMedium
    display inline-block
    cursor pointer
    position relative
    overflow hidden
    user-select none
    -webkit-tap-highlight-color transparent
    border 0
    outline 0
    color #fff
    background-color #44c8f5
    font-family "graphik", Arial, Helvetica, sans-serif
    text-decoration none
    font-size 14px
    font-weight 300
    line-height 45px
    min-height 45px
    padding 1px 37px 0
    text-transform uppercase
    height 45px
    transition all .4s
    white-space nowrap
    &:hover
        color #fff
        background-color #87dbff
    .waves-ripple
        background rgba(#44c8f5, 1)
.buttonBlueMore
    position relative
    cursor pointer
    overflow hidden
    user-select none
    -webkit-tap-highlight-color transparent
    border 0
    outline 0
    color #fff
    background-color #44c8f5
    font-family "graphik", Arial, Helvetica, sans-serif
    text-decoration none
    font-size 40px
    font-weight 200
    line-height 60px
    //padding 1px 28px 0
    text-align center
    text-transform uppercase
    height 60px
    width 60px
    transition all .4s
    white-space nowrap
    .waves-ripple
        background rgba(#44c8f5, 1)
    &:hover
        color #fff
        background-color #87dbff

