.buttonSimple
    display inline-block
    position relative
    cursor pointer
    border 0
    outline 0
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    text-decoration none
    font-size 14px
    font-weight 300
    line-height 40px
    height 40px
    padding 1px 28px 0
    text-transform uppercase
    height 40px
    transition all .4s
    white-space nowrap
    &:hover
        color #fff
        background-color #87dbff

.buttonSimpleText
    display inline-block
    overflow hidden
    user-select none
    -webkit-tap-highlight-color transparent
    cursor pointer
    position relative
    border 0
    outline 0
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    text-decoration none
    font-size 14px
    font-weight 400
    line-height 45px
    height 45px
    padding 1px 37px 0
    text-transform uppercase
    height 45px
    transition all .4s
    background-color transparent
    white-space nowrap
    &:hover
        color #fff
        background-color #87dbff
    .waves-ripple
        background rgba(#44c8f5, 1)