.waves-ripple
    position absolute
    border-radius 50%
    width 100px
    height 100px
    margin-top -50px
    margin-left -50px
    opacity 0
    transition all 0.5s ease-out
    transition-property transform, opacity
    transform scale(0) translate(0, 0)
    pointer-events none