.filter
    .filterItems
        .filterItem.filterItemActive
            .filterItemText
                span Тип кожи
                +svgIcon('icon-arrow2')
            .filterItemDropdown
                a(href="#").filterItemDropdownItem.filterItemDropdownItemActive
                    | Подрастковая
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem
                    | Подрастковая
        .filterItem
            .filterItemText
                span Возраст
                +svgIcon('icon-arrow2')
            .filterItemDropdown
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem
                    | Подрастковая
        .filterItem
            .filterItemText
                span Эффект
                +svgIcon('icon-arrow2')
            .filterItemDropdown
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem
                    | Подрастковая
        .filterItem.filterItemIcon
            .filterItemText
                span Зона использования
                +svgIcon('icon-arrow2')
            .filterItemDropdown.filterItemDropdownIcon
                a(href="#").filterItemDropdownItemIcon.filterItemDropdownItemIconActive
                    +svgIcon('icon-catalog-1')
                    span Для тела
                a(href="#").filterItemDropdownItemIcon
                    +svgIcon('icon-catalog-2')
                    span Для тела
                a(href="#").filterItemDropdownItemIcon
                    +svgIcon('icon-catalog-3')
                    span Для тела
                a(href="#").filterItemDropdownItemIcon
                    +svgIcon('icon-catalog-4')
                    span Для тела
                a(href="#").filterItemDropdownItemIcon
                    +svgIcon('icon-catalog-5')
                    span Для тела
                a(href="#").filterItemDropdownItemIcon
                    +svgIcon('icon-catalog-6')
                    span Для тела
                a(href="#").filterItemDropdownItemIcon
                    +svgIcon('icon-catalog-7')
                    span Для тела
                a(href="#").filterItemDropdownItemIcon
                    +svgIcon('icon-catalog-8')
                    span Для тела
                a(href="#").filterItemDropdownItemIcon
                    +svgIcon('icon-catalog-9')
                    span Для тела

        .filterItem
            .filterItemText
                span Время суток
                +svgIcon('icon-arrow2')
            .filterItemDropdown
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem.filterItemDropdownItemActive
                    | Подрастковая
        .filterItem
            .filterItemText
                span Время суток
                +svgIcon('icon-arrow2')
            .filterItemDropdown
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem.filterItemDropdownItemActive
                    | Подрастковая
        .filterItem
            .filterItemText
                span Активные вещества
                +svgIcon('icon-arrow2')
            .filterItemDropdown
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem.filterItemDropdownItemActive
                    | Подрастковая
        .filterItem
            .filterItemText
                span Коллекции
                +svgIcon('icon-arrow2')
            .filterItemDropdown
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem
                    | Подрастковая
                a(href="#").filterItemDropdownItem.filterItemDropdownItemActive
                    | Подрастковая
    .filterSelected
        .filterSelectedItem
            | Для волос
        .filterSelectedItem
            | Гиалуроновая коллекция
        .filterSelectedClear
            +svgIcon('icon-close')
            span Сбросить